 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form id="register-form" action='/TrabalhoFinal/controller/user.py' method="post">
        <input type="text" id="register-nome" name="register-nome" placeholder="Nome" required>
        <input type="email" id="register-email" name="register-email" placeholder="Email" required>
        <input type="password" id="register-password" name="register-senha" placeholder="Senha" required>
        <input type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Confirmar Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {{ 'red' if category == 'error' else 'green' }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
