<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mostrar todos os usuarios</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario. nome}}</td>
                <td>{{ usuario.email }}</td>

            </tr>
            {% endfor %}
            {% if not usuarios %}
                <p>Nenhum usuário encontrado.</p>
            {% endif %}

        </tbody>
    </table>
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {{ 'red' if category == 'error' else 'green' }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
</body>
</html>