<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="form-container" id="form-login">
        <h1>Login</h1>
        <form id="login-form">
            <label for="login-email">Email</label>
            <input type="email" id="login-email" placeholder="Email" required>
            <label for="login-password">Semha</label>

            <input type="password" id="login-password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <div class="toggle">
            <p>Não tem uma conta? <a href="#" >Cadastre-se</a></p>
        </div>
    </div>
</body>
</html>