<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INÍCIO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <a href="/add_campeao">Add campeao</a>
    <a href="/ver-campeoes">Ver campeao</a>
    <a href="/update_campeao">Update campeao</a>
    <a href="/delete_campeao">Deletar campeao</a>

    <a href="/add_user">Add usuário</a>
    <a href="/ver-users">Ver usuário</a>
    <a href="/update_user">Update usuário</a>
    <a href="/delete_user">Deletar usuário</a>
</body>
</html>
