<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Campeões</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
<header>
    <a href="/add_campeao">Adicionar Campe천es</a>
    <a href="/ver-campeoes">Lista Campe천es</a>
    <a href="/update_campeao">Atualizar Campe천es</a>
    <a href="/delete_campeao">Deletar Campe천es</a>
</header>
    <h1>Lista de Campeões</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            {% for campeao in campeoes %}
            <tr>
                <td>{{ campeao.id_campeao }}</td>
                <td>{{ campeao.nome }}</td>
                <td>{{ campeao.dificuldade }}</td>

            </tr>
            {% endfor %}
            {% if not campeoes %}
            <p>Nenhum campeão encontrado.</p>
            {% endif %}

        </tbody>
    </table>
</body>

</html>